<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"   
                xmlns:f="http://java.sun.com/jsf/core"   
                xmlns:ui="http://java.sun.com/jsf/facelets"   
                xmlns:p="http://primefaces.org/ui"   
                template="/Template/modelo/ModeloPaginas.xhtml">   

    <ui:define name="conteudo">   
        <h:form id="formGeral">
            <p:panel header="Lista de Dividas" style="height: 300px;">
                <p:dataTable id="idal" emptyMessage="Não existem dividas cadastradas." 
                             var="divi"  rowKey="#{divi.divId}" value="#{dividaBean.dividas}"  
                             selection="#{dividaBean.dividaSelecionada}" paginator="true" rows="7" 
                             paginatorPosition="bottom" selectionMode="single" style="width: 720px;" >  

                    <p:ajax event="rowSelect" listener="#{dividaBean.abrirDialogAlt()}"/>
                    <p:column headerText="Id da Divida">  
                        #{divi.divId}
                    </p:column>  
                    <p:column headerText="Data de Atualização">  
                        <h:outputText value="#{divi.divDataatualizacao}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />  
                        </h:outputText>
                    </p:column>  

                    <p:column headerText="Valor da divida">  
                        <h:outputText value=" #{divi.divValordadivida}">
                            <f:convertNumber pattern="#,##0.00"/>
                        </h:outputText>
                    </p:column>  
                    <p:column headerText="Credor">  <!-- SELECT ON MENU-->
                        #{divi.divCredor}
                    </p:column>  
                    <p:column headerText="Devedor"> <!-- SELECT ON MENU--> 
                        #{divi.divDevedor}
                    </p:column>  
                    <p:column headerText="Status"> <!-- SELECT ON MENU--> 
                        #{divi.divStatus}
                    </p:column>  

                    <p:column style="width:32px;text-align: center">
                        <p:commandButton oncomplete="PF('dlgEx').show()" icon="ui-icon-trash" title="excluir" update=":formGeral:iddlgEx">
                            <f:setPropertyActionListener value="#{divi}" target="#{dividaBean.dividaSelecionada}" />
                        </p:commandButton>
                    </p:column>

                    <f:facet name="footer">  
                        <p:commandButton id="btcd" value="Inserir" actionListener="#{dividaBean.abrirDialog()}"/>  
                    </f:facet>  


                </p:dataTable>

            </p:panel>
            <p:confirmDialog  id="iddlgEx" widgetVar="dlgEx" appendTo="@(Body)" header="Excluindo a Divida...." message="Deseja excluir a Divida #{dividaBean.dividaSelecionada.divId}?">
                <p:commandButton value="Sim" icon="ui-icon-check" action="#{dividaBean.excluir()}" immediate="true" process="@this" onsuccess="PF('dlgEx').hide();" update=":formGeral:idal"/>
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" onclick="PF('dlgEx').hide();"/>
            </p:confirmDialog>

        </h:form>

        <p:dialog id="iddlgAluno" widgetVar="wdgdlgAl" closable="true" header="Inserindo Divida" appendTo="@(Body)" modal="true">
            <h:form>
                <p:outputPanel autoUpdate="true">
                    <h:panelGrid columns="2">
                        <h:outputLabel value="Credor"/>
                         <p:selectOneMenu value="#{dividaBean.divida.divCredor}" style="margin-right:7px; margin-bottom: 6px; width: 247px;" filter="true" filterMatchMode="startsWith" converter="tipoConverterCredor">
                            <f:selectItem itemValue="" itemLabel="Selecione"/>
                            <f:selectItems value="#{dividaBean.listaPessoa}" var="cred" itemLabel="#{cred.peNome}" itemValue="#{cred}"/>
                        </p:selectOneMenu>
                        <h:outputLabel value="Data de Atualização"/>
                        <p:calendar value="#{dividaBean.divida.divDataatualizacao}" />
                        <h:outputLabel value="Valor da Divida"/>
                        <p:inputText value="#{dividaBean.divida.divValordadivida}"/>
                        <h:outputLabel value="Devedor"/>
                        <p:selectOneMenu value="#{dividaBean.divida.divDevedor}" style="margin-right:7px; margin-bottom: 6px; width: 247px;" filter="true" filterMatchMode="startsWith" converter="tipoConverterDevedor">
                            <f:selectItem itemValue="" itemLabel="Selecione"/>
                            <f:selectItems value="#{dividaBean.listaPessoa}" var="dive" itemLabel="#{dive.peNome}" itemValue="#{dive}"/>
                        </p:selectOneMenu>
                        <h:outputLabel value="Status"/>
                        <p:inputText value="#{dividaBean.divida.divStatus}" />
                        <p:commandButton value="Salvar" action="#{dividaBean.salvar()}" onsuccess="PF('wdgdlgAl').hide()" update=":formGeral:idal"/>
                    </h:panelGrid>
                </p:outputPanel>        
            </h:form>    
        </p:dialog>

        <p:dialog id="iddlgAlunoAlt" widgetVar="wdgdlgAlalt" closable="true" header="Alterando Divida" appendTo="@(Body)" modal="true">
            <h:form>
                <p:outputPanel autoUpdate="true">
                    <h:panelGrid columns="2">
                        <h:outputLabel value="Id"/>
                        <p:inputText value="#{dividaBean.dividaSelecionada.divId}" readonly="true"/>
                        <h:outputLabel value="Data Pagamento"/>
                        <p:calendar value="#{dividaBean.dividaSelecionada.divDataatualizacao}" readonly="true"/>
                        <h:outputLabel value="Valor Pago"/>
                        <p:inputText value="#{dividaBean.dividaSelecionada.divValordadivida}" readonly="true"/>
                        <h:outputLabel value="Credor"/>
                        <p:inputText value="#{dividaBean.dividaSelecionada.divCredor}" readonly="true"/>
                        <h:outputLabel value="Devedor"/>
                        <p:inputText value="#{dividaBean.dividaSelecionada.divDevedor}" readonly="true"/>
                        <h:outputLabel value="Status"/>
                        <p:inputText value="#{dividaBean.dividaSelecionada.divStatus}" required="true" requiredMessage="O preenchimento do status da divida é obrigatório" />
                        <p:commandButton value="Alterar" action="#{dividaBean.alterar()}" onsuccess="PF('wdgdlgAlalt').hide()" update=":formGeral:idal"/>
                    </h:panelGrid>
                </p:outputPanel>        
            </h:form>    
        </p:dialog>
    </ui:define>   


</ui:composition>






