<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"   
                xmlns:f="http://java.sun.com/jsf/core"   
                xmlns:ui="http://java.sun.com/jsf/facelets"   
                xmlns:p="http://primefaces.org/ui"   
                template="/Template/modelo/ModeloPaginas.xhtml">   

    <ui:define name="conteudo">   
        <h:form id="formGeral">
            <p:panel header="Lista de Pessoas" style="height: 300px;">
                <p:dataTable id="idal" emptyMessage="Não existem Pessoas cadastradas." 
                             var="pgmt"  rowKey="#{pgmt.pagId}" value="#{pagamentoBean.pagamentos}"  
                             selection="#{pagamentoBean.pagamentoSelecionado}" paginator="true" rows="7" 
                             paginatorPosition="bottom" selectionMode="single" style="width: 720px;" >  

                    <p:ajax event="rowSelect" listener="#{pagamentoBean.abrirDialogAlt()}"/>
                    <p:column headerText="ID Divida">  <!-- SELECT ON MENU -->
                        #{pgmt.pagDivId}
                    </p:column>  

                    <p:column headerText="Data Pagamento">  
                        #{pgmt.pagDatapagamento}
                    </p:column>  

                    <p:column headerText="Valor Pago">  
                        #{pgmt.pagValorpago}
                    </p:column>  

                    <p:column headerText="Id Pagamento">  <!-- APAGAR -->
                        #{pgmt.pagId}
                    </p:column>


                    <p:column style="width:32px;text-align: center">
                        <p:commandButton oncomplete="PF('dlgEx').show()" icon="ui-icon-trash" title="excluir" update=":formGeral:iddlgEx">
                            <f:setPropertyActionListener value="#{pgmt}" target="#{pagamentoBean.pagamentoSelecionado}" />
                        </p:commandButton>
                    </p:column>

                    <f:facet name="footer">  
                        <p:commandButton id="btcd" value="Inserir" actionListener="#{pagamentoBean.abrirDialog()}"/>  
                    </f:facet>  


                </p:dataTable>

            </p:panel>
            <p:confirmDialog  id="iddlgEx" widgetVar="dlgEx" appendTo="@(Body)" header="Excluindo Pessoa...." message="Deseja excluir a Pessoa #{pagamentoBean.pagamentoSelecionado.pagId}?">
                <p:commandButton value="Sim" icon="ui-icon-check" action="#{pagamentoBean.excluir()}" immediate="true" process="@this" onsuccess="PF('dlgEx').hide();" update=":formGeral:idal"/>
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" onclick="PF('dlgEx').hide();"/>
            </p:confirmDialog>

        </h:form>

        <p:dialog id="iddlgAluno" widgetVar="wdgdlgAl" closable="true" header="Inserindo Pessoas" appendTo="@(Body)" modal="true">
            <h:form>
                <p:outputPanel autoUpdate="true">
                    <h:panelGrid columns="2">
                        <h:outputLabel value="ID Divida"/>
                        <p:inputText value="#{pagamentoBean.pagamento}"/>
                        <h:outputLabel value="Data Pagamento"/>
                        <p:inputText value="#{pagamentoBean.pagamento}"/>
                        <h:outputLabel value="Valor"/>
                        <p:inputText value="#{pagamentoBean.pagamento}"/>
                        <h:outputLabel value="ID Pagamento"/>
                        <p:inputText value="#{pagamentoBean.pagamento}"/>
                        <p:commandButton value="Salvar" action="#{pagamentoBean.salvar()}" onsuccess="PF('wdgdlgAl').hide()" update=":formGeral:idal"/>
                    </h:panelGrid>
                </p:outputPanel>        
            </h:form>    
        </p:dialog>
    </ui:define>   


</ui:composition>

