<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"   
                xmlns:f="http://java.sun.com/jsf/core"   
                xmlns:ui="http://java.sun.com/jsf/facelets"   
                xmlns:p="http://primefaces.org/ui"   
                template="/Template/modelo/ModeloPaginas.xhtml">   

    <ui:define name="conteudo">   
        <h:form id="formGeral">
            <p:panel header="Lista de Pessoas" style="height: 300px;">
                <p:dataTable id="idal" emptyMessage="Não existem Pessoas cadastradas." 
                             var="pes"  rowKey="#{pes.peId}" value="#{pessoaBean.pessoas}"  
                             selection="#{pessoaBean.pessoaSelecionada}" paginator="true" rows="7" 
                             paginatorPosition="bottom" selectionMode="single" style="width: 720px;" >  

                    <p:ajax event="rowSelect" listener="#{pessoaBean.abrirDialogAlt()}"/>
                    <p:column headerText="Id">  <!-- APAGAR -->
                        #{pes.peId}
                    </p:column>  
                    <p:column headerText="Nome">  
                        #{pes.peNome}
                    </p:column>  

                    <p:column headerText="Endereço">  
                        #{pes.peEndereco}
                    </p:column>  
                    <p:column headerText="UF">  <!-- SELECT ON MENU -->
                        #{pes.peUf}
                    </p:column>  

                    <p:column headerText="Telefone">  
                        <h:outputText value="#{pes.peTelefone}">
                        <f:convertNumber pattern="(##)#####-####"/>
                        </h:outputText> 
                    </p:column>  
                    <p:column headerText="CPF">  
                        <h:outputText value="#{pes.peDocumento}">
                        <f:convertNumber pattern="###.###.###-##"/>
                        </h:outputText>
                    </p:column>  
                    <p:column headerText="E-mail">  
                        #{pes.peEmail}
                    </p:column>  

                    <p:column style="width:32px;text-align: center">
                        <p:commandButton oncomplete="PF('dlgEx').show()" icon="ui-icon-trash" title="excluir" update=":formGeral:iddlgEx">
                            <f:setPropertyActionListener value="#{pes}" target="#{pessoaBean.pessoaSelecionada}" />
                        </p:commandButton>
                    </p:column>

                    <f:facet name="footer">  
                        <p:commandButton id="btcd" value="Inserir" actionListener="#{pessoaBean.abrirDialog()}"/>  

                    </f:facet>  


                </p:dataTable>

            </p:panel>
            <p:confirmDialog  id="iddlgEx" widgetVar="dlgEx" appendTo="@(Body)" header="Excluindo Pessoa...." message="Deseja excluir a Pessoa #{pessoaBean.pessoaSelecionada.peNome}?">
                <p:commandButton value="Sim" icon="ui-icon-check" action="#{pessoaBean.excluir()}" immediate="true" process="@this" onsuccess="PF('dlgEx').hide();" update=":formGeral:idal"/>
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" onclick="PF('dlgEx').hide();"/>
            </p:confirmDialog>

        </h:form>

        <p:dialog id="iddlgAluno" widgetVar="wdgdlgAl" closable="true" header="Inserindo Pessoas" appendTo="@(Body)" modal="true">
            <h:form>
                <p:outputPanel autoUpdate="true">
                    <h:panelGrid columns="2">
                        <h:outputLabel value="Nome"/>
                        <p:inputText value="#{pessoaBean.pessoa.peNome}"/>
                        <h:outputLabel value="Endereço"/>
                        <p:inputText value="#{pessoaBean.pessoa.peEndereco}"/>
                        <h:outputLabel value="UF"/>
                        <p:inputText value="#{pessoaBean.pessoa.peUf}"/>
                        <h:outputLabel value="Telefone"/>
                        <p:inputText value="#{pessoaBean.pessoa.peTelefone}"/>
                        <h:outputLabel value="CPF"/>
                        <p:inputText value="#{pessoaBean.pessoa.peDocumento}"/>
                        <h:outputLabel value="E-mail"/>
                        <p:inputText value="#{pessoaBean.pessoa.peEmail}"/>
                        <p:commandButton value="Salvar" action="#{pessoaBean.salvar()}" onsuccess="PF('wdgdlgAl').hide()" update=":formGeral:idal"/>
                    </h:panelGrid>
                </p:outputPanel>        
            </h:form>    
        </p:dialog>

        <p:dialog id="iddlgAlunoAlt" widgetVar="wdgdlgAlalt" closable="true" header="Alterando Pessoas" appendTo="@(Body)" modal="true">
            <h:form>
                <p:outputPanel autoUpdate="true">
                    <h:panelGrid columns="2">
                        <h:outputLabel value="Id"/>
                        <p:inputText value="#{pessoaBean.pessoaSelecionada.peId}" readonly="true"/>
                        <h:outputLabel value="Nome"/>
                        <p:inputText value="#{pessoaBean.pessoaSelecionada.peNome}" required="true" requiredMessage="O preenchimento do nome é obrigatório" />
                        <h:outputLabel value="Endereço"/>
                        <p:inputText value="#{pessoaBean.pessoaSelecionada.peEndereco}"/>
                        <h:outputLabel value="UF"/>
                        <p:inputText value="#{pessoaBean.pessoaSelecionada.peUf}"/>
                        <h:outputLabel value="Telefone"/>
                        <p:inputText value="#{pessoaBean.pessoaSelecionada.peTelefone}"/>
                        <h:outputLabel value="CPF"/>
                        <p:inputText value="#{pessoaBean.pessoaSelecionada.peDocumento}" required="true" requiredMessage="O preenchimento do cpf é obrigatório" />
                        <h:outputLabel value="E-mail"/>
                        <p:inputText value="#{pessoaBean.pessoaSelecionada.peEmail}" required="true" requiredMessage="O preenchimento do e-mail é obrigatório"/>
                        <p:commandButton value="Alterar" action="#{pessoaBean.alterar()}" onsuccess="PF('wdgdlgAlalt').hide()" update=":formGeral:idal"/>
                    </h:panelGrid>
                </p:outputPanel>        
            </h:form>    
        </p:dialog>
    </ui:define>   


</ui:composition>

