<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
    xmlns:h="http://java.sun.com/jsf/html"   
    xmlns:f="http://java.sun.com/jsf/core"   
    xmlns:ui="http://java.sun.com/jsf/facelets"   
    xmlns:p="http://primefaces.org/ui"   
    template="/Template/modelo/ModeloPaginas.xhtml">   
  
    <ui:define name="conteudo">   
        <h:form>
            
        </h:form>
    </ui:define>   

 
</ui:composition>

 